{% extends "base.html" %}
{% block contenido %}

<form action="/new" method="post">
  {{dataForm.crsf_token}}

  {{dataForm.date.label}}
  {{dataForm.date}}
  {{dataForm.concept.label}}
  {{dataForm.concept}}
  {{dataForm.amount.label}}
  {{dataForm.amount}}

  {{dataForm.submit}}

  
  
  
  
  
  
  
  
  
  
  
  
  
  <!--
  <fieldset>
    <label>
      Fecha
      <input
        type="date"
        name="date"
        placeholder="First name"
        value="{{dataForm['date']}}"
      />
    </label>
    <label>
      Concepto
      <input
        type="text"
        name="concept"
        placeholder="Ingrese un Concepto de gasto o ingreso"
        value="{{dataForm['concept']}}"
      />
    </label>
    <label>
      Monto
      <input
        type="number"
        name="quantity"
        placeholder="Ingrese el monto en €"
        value="{{dataForm['monto']}}"
      />
    </label>
  </fieldset>

  <input
    type="submit"
    value="Guardar"
  />
</form>

<article>
    <ul>
        {% for item in errors %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
</article>
-->
{% endblock %}